<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ this.isEdit ? 'Edit user' : 'Add User' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>{{ this.isEdit ? 'Edit user ' + user?.id : 'Add User' }}</ion-card-header>
    <ion-card-content>
      <form [formGroup]="userForm" (submit)="submit()">
        <ion-item>
          <ion-label position="floating">First name</ion-label>
          <ion-input placeholder="First name" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last name</ion-label>
          <ion-input placeholder="Last name" formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Date of birth</ion-label>
          <ion-datetime formControlName="dateOfBirth"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Email Verified</ion-label>
          <ion-checkbox formControlName="emailVerified" slot="start"></ion-checkbox>
        </ion-item>
  
        <div class="buttons">
          <ion-button fill="clear" routerLink="/">Cancel</ion-button>
          <ion-button type="submit" [disabled]="userForm.invalid">
            {{ isEdit ? 'Save' : 'Create'}}
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="isEdit && user?.id"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="deleteUser(user?.id)">
    <ion-fab-button color="danger">
      <ion-icon name="trash-bin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
