<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-fab *ngIf="showAddButton"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    routerLink="/add-user">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-app>
