<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let user of users$ | async; let index = index">
    <app-user [user]="user" [userIndex]="index"></app-user>
  </ng-container>
</ion-content>
